@model List<TrDegreeColorWithCourseVM>
@{
    ViewData["Title"] = "ShowAllTrainee";
}

<h1>ShowAllTrainee</h1>

<table class="table table-borderd table-hover" style="text-align:center">

    <tr>
        <td>Trainee Name</td>
        <td>Degree</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="color:@item.color">
            <td>@item.traineeName</td>
            <td>@item.grade</td>
        </tr>
    }
</table>