@model List<Trainee>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table table-borderd table-hover" style="text-align:center">

    <tr>
        <td>Name</td>
        <td>Imag</td>
        <td>Grade</td>
        <td>Address</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Imag</td>
            <td>@item.grade</td>
            <td>@item.Address</td>
        </tr>
    }
</table>
