@model StudentCourseGradeColorViewModel
@{
    ViewData["Title"] = "showResult";
}

<h1>showResult</h1>

<div style="color:@Model.color">
<h2>@Model.traineeName</h2>
<h2>@Model.courseName</h2>
<h2>@Model.grade</h2>
</div>